
<form class="form-newUser form-horizontal">
  <h4>
      Create New User
  </h4> <hr>
  <div class="form-group">
      <label class="col-sm-3 control-label" >Username</label>
      <div  class="col-sm-9">
        <input [(ngModel)]="data.username" type="text" class="form-control" name="username" >
      </div>  
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" >Password</label>
    <div  class="col-sm-9">
      <input [(ngModel)]="data.password" type="text" class="form-control" name="password" >
    </div>  
  </div>
  
  <div class="form-group">
    <label class="col-sm-3 control-label" >Email</label>
    <div  class="col-sm-9">
      <input [(ngModel)]="data.email" type="text" class="form-control" name="email" >
    </div>  
  </div>  

  <div *ngFor="let s of scopes; let i=index" style="padding-left:20px;">
    <input type="checkbox" name="{{s.name}}" id="{{s.name}}" > <label for="{{s.name}}" style="font-weight:normal"> {{s.name}} </label>
  </div>  

  <p class="text-right col-sm-3 col-sm-offset-9">
    <button class="btn btn-primary" type="button" [md-dialog-close]="data" >Submit</button>
  </p>

</form>