<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <div class="panel-body">
      <table class="table table-hover table-condensed">
        <thead>
            <tr>
              <td>No.</td>
              <td>Username.</td>
              <td>Email.</td>
              <td>Roles</td>
              <td>Password</td>
              <td style="text-align:center" >Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users; let n = index">
              <td>{{n + 1}}.</td>
              <td> <a [routerLink]="['/user', 'edit', u.id]"> {{u.username}} </a></td>
              <td>{{u.email}}</td>
              <td>
                  <span *ngFor="let r of u.roles; let i = index"> {{r.roleName}}<span *ngIf="i < (u.roles.length - 1)">, </span> </span>
              </td>
              <td>{{u.password}}</td>
              <td style="text-align:center" ><button class="md-button md-small" md-button (click)="deleteUser(u.id)">Delete </button> </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>


